*{

    box-sizing: border-box;

}

body{

        margin:0;
        padding:0;
}

header{
    background-color: yellow;
    position: relative;
    
}

.top-left{
    
    position: absolute;
    left:250px;
    top:5px;
    
}

#img1{
    max-width: 100%;
    height:auto;

}

.top-right{
        position:absolute;
        right:145px;    
        top:10px;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;;
    overflow: hidden;
    
   
}

li {
    float: left;
    
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    
}

 .log a {
    background-color: brown;
    color: white;
    padding:6px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-left:15px;
    margin-top:3px;
}

 .sign a {

    background-color: rgba(226, 112, 146, 0.952);
    color: white;
    padding:6px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-left:15px;
    margin-top:3px;

}

#img2{

    width:100%;
    height:auto;
    position: absolute;
    top:60px;
}